<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MemberAdd</servlet-name>
        <servlet-class>Servlet.MemberAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bucAdd</servlet-name>
        <servlet-class>Servlet.bucAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teamList</servlet-name>
        <servlet-class>Servlet.teamList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberList</servlet-name>
        <servlet-class>Servlet.MemberList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BucList</servlet-name>
        <servlet-class>Servlet.BucList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SprintList</servlet-name>
        <servlet-class>Servlet.SprintList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamDelete</servlet-name>
        <servlet-class>Servlet.TeamDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BUCDelete</servlet-name>
        <servlet-class>Servlet.BUCDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SprintDelete</servlet-name>
        <servlet-class>Servlet.SprintDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberDelete</servlet-name>
        <servlet-class>Servlet.MemberDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buc</servlet-name>
        <servlet-class>Servlet.Buc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamUpdate</servlet-name>
        <servlet-class>Servlet.TeamUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SprintUpdate</servlet-name>
        <servlet-class>Servlet.SprintUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BUCUpdate</servlet-name>
        <servlet-class>Servlet.BUCUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>Servlet.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Team</servlet-name>
        <servlet-class>Servlet.TeamDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberUpdate</servlet-name>
        <servlet-class>Servlet.MemberUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BRAdd</servlet-name>
        <servlet-class>Servlet.BRAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TRAdd</servlet-name>
        <servlet-class>Servlet.TRAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemberAdd</servlet-name>
        <url-pattern>/member/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bucAdd</servlet-name>
        <url-pattern>/buc/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teamList</servlet-name>
        <url-pattern>/team/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberList</servlet-name>
        <url-pattern>/member/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BucList</servlet-name>
        <url-pattern>/buc/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SprintList</servlet-name>
        <url-pattern>/sprint/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamDelete</servlet-name>
        <url-pattern>/team/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BUCDelete</servlet-name>
        <url-pattern>/buc/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SprintDelete</servlet-name>
        <url-pattern>/sprint/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberDelete</servlet-name>
        <url-pattern>/member/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buc</servlet-name>
        <url-pattern>/buc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamUpdate</servlet-name>
        <url-pattern>/team/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SprintUpdate</servlet-name>
        <url-pattern>/sprint/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BUCUpdate</servlet-name>
        <url-pattern>/buc/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Team</servlet-name>
        <url-pattern>/team</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberUpdate</servlet-name>
        <url-pattern>/member/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BRAdd</servlet-name>
        <url-pattern>/businessRequirement/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TRAdd</servlet-name>
        <url-pattern>/technicalRequirement/add</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
