.content-limit{
    max-width: 1200px;
    margin: 0 auto;
}

.content{
    margin-top: 100px;
}

.jumbotron-custom{
    padding: 40px;
    text-align: center;
}

.logo-img{
    width: 50px;
}

.navbar-brand-custom{
    padding: 0 10px;
}

.form-title{
    text-align: center;
}

.dataTables_filter{
    float: right;
}