.content-limit{
    max-width: 1200px;
    margin: 0 auto;
}

.content{
    margin-top: 80px;
    min-height: 700px;
}

.jumbotron-custom{
    padding: 40px;
    text-align: center;
}

.logo-img{
    width: 50px;
}

.navbar-brand-custom{
    padding: 0 10px;
}

.form-title{
    text-align: center;
}

.dataTables_filter{
    float: right;
}

.tab-content{
    border: 1px solid #ddd;
    margin-top: -1px;
    padding-bottom: 20px;
}

.tab-pane{
    margin-top: 30px;
}

.nav-tabs{
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
}

.generate-report{
    float: right;
}

td a:hover {
    text-decoration: none;
}

.dataTables_wrapper{
    padding: 20px;
}

.qt-tcs{
    float: right;
    border-radius: 50px;
    font-size: 14px;
}

.tcs-success{
}

.flotTip{
    position: absolute;
    background: rgb(255, 255, 255);
    z-index: 1040;
    padding: 0.4em 0.6em;
    border-radius: 0.5em;
    font-size: 0.8em;
    border: 1px solid rgb(17, 17, 17);
    white-space: nowrap;
    left: 616px;
    top: 996.05px;
    display: none;
}

.legend{
    position: absolute;
    margin-top: 415px;
    width: 100%;
    float: left;
}

.arrow-details{
    margin-left: 10px;
}

.footer {
    position: relative;
    clear:both;
    padding-top:15px;
    color: white;
    background-color: #337ab7;
}

table td {
    word-break: break-all;
}

hr.style1{
    height: 5px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.imgInatel {
    width: 90px;
}

.tool-box{
    min-height: 227px;
    color: white;
    text-align: center;
    border: 2px solid white;
}

.tool-box:hover{
}

.tool-box img{
    width: 130px;
}

.rastr-box{
    background: #16B183;
}

.eda-box{
    background: #FE6D4B;
}

.gerrit-box{
    background: #FFB936;
}

.sonar-box{
    background: #14ABFC;
}

.lint-box{
    background: #FFFFFF;
    border: 2px solid #E7E7E7;
    color: #757575;
}

.align-center{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 120px;
}

.title-home{
    color: #717171;
}

.text-footer{
    font-size: 12px;
    margin-bottom: 20px;
}

@media (min-width: 992px){
    .tool-box{
        width: 20%;
    }

}