.content-limit{
    max-width: 1200px;
    margin: 0 auto;
}

.content{
    margin-top: 80px;
}

.jumbotron-custom{
    padding: 40px;
    text-align: center;
}

.logo-img{
    width: 50px;
}

.navbar-brand-custom{
    padding: 0 10px;
}

.form-title{
    text-align: center;
}

.dataTables_filter{
    float: right;
}

.tab-content{
    border: 1px solid #ddd;
    margin-top: -1px;
    padding-bottom: 20px;
}

.tab-pane{
    margin-top: 30px;
}

.nav-tabs{
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
}

.generate-report{
    float: right;
}

td a:hover {
    text-decoration: none;
}

.dataTables_wrapper{
    padding: 20px;
}

.qt-tcs{
    float: right;
    border-radius: 50px;
}

.tcs-success{
}

